@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Mulish:wght@400;700;800;900&display=swap");

:root {
  --basic-font-color: #2b2b33;
  --basic-font-family: "Mulish", sans-serif;
  --fancy-font-family: "Caveat", cursive;

  --main-banner-height:clamp(18.75rem, calc(14.16rem + 20.38vw), 32.00rem);

  /* basic-sm: 24.00px → 28.00px */
  --fs-basic-sm: clamp(1.5rem, calc(1.41rem + 0.38vw), 1.75rem);
  /* basic-md: 28.00px → 32.00px */
  --fs-basic-md: clamp(1.75rem, calc(1.66rem + 0.38vw), 2rem);
  /* basic-lg: 30.00px → 46.00px */
  --fs-basic-lg: clamp(1.88rem, calc(1.53rem + 1.54vw), 2.88rem);
  /* fancy-sm: 36.00px → 46.00px */
  --fs-fancy-sm: clamp(2.25rem, calc(2.03rem + 0.96vw), 2.88rem);
  /* fancy-sm: 46.00px → 50.00px */
  --fs-fancy-md: clamp(2.88rem, calc(2.79rem + 0.38vw), 3.13rem);
  /* fancy-sm: 48.00px → 72.00px */
  --fs-fancy-lg: clamp(3rem, calc(2.48rem + 2.31vw), 4.5rem);
  /* basic-line-height-sm: 32.00px → 34.00px */
  --lh-basic-sm: clamp(2rem, calc(1.96rem + 0.19vw), 2.13rem);
  /* basic-line-height-md: 34.00px → 38.00px */
  --lh-basic-md: clamp(2.13rem, calc(2.04rem + 0.38vw), 2.38rem);
  /* basic-line-height-lg: 32.00px → 48.00px */
  --lh-basic-lg: clamp(2rem, calc(1.65rem + 1.54vw), 3rem);
  /* fancy-line-height-sm: 30.00px → 32.00px */
  --lh-fancy-sm: clamp(1.88rem, calc(1.83rem + 0.19vw), 2rem);
  /* fancy-line-height-md: 32.00px → 42.00px */
  --lh-fancy-md: clamp(2rem, calc(1.78rem + 0.96vw), 2.63rem);
  /* fancy-line-height-lg: 30.00px → 44.00px */
  --lh-fancy-lg: clamp(1.88rem, calc(1.57rem + 1.35vw), 2.75rem);
}



.section-title-sm {
  font-size: var(--fs-basic-sm);
  line-height: var(--lh-basic-sm);
  font-family: var(--basic-font-family);
  color: var(--basic-font-color);
  font-weight: 800;
}
.section-title-md {
  font-size: var(--fs-basic-md);
  line-height: var(--lh-basic-md);
  font-family: var(--basic-font-family);
  color: var(--basic-font-color);
  font-weight: 800;
}
.section-title-lg {
  font-size: var(--fs-basic-lg);
  line-height: var(--lh-basic-lg);
  font-family: var(--basic-font-family);
  color: var(--basic-font-color);
  font-weight: 900;
}

.fancy-title-xs {
    font-size: 36px;
    line-height: 30px;
    font-family: var(--fancy-font-family);
    color: var(--basic-font-color);
    font-weight: 400;
  }

.fancy-title-sm {
  font-size: var(--fs-fancy-sm);
  line-height: var(--lh-basic-sm);
  font-family: var(--fancy-font-family);
  color: var(--basic-font-color);
  font-weight: 400;
}
.fancy-title-md {
  font-size: var(--fs-fancy-md);
  line-height: var(--lh-basic-md);
  font-family: var(--fancy-font-family);
  color: var(--basic-font-color);
  font-weight: 400;
}
.fancy-title-lg {
  font-size: var(--fs-fancy-lg);
  line-height: var(--lh-basic-lg);
  font-family: var(--fancy-font-family);
  color: var(--basic-font-color);
  font-weight: 400;
}

.check-offers-button--red {
  width: clamp(14.63rem, calc(14.00rem + 2.79vw), 16.44rem);
  height: clamp(3.25rem, calc(3.08rem + 0.77vw), 3.75rem);
  font-size: clamp(1.13rem, calc(1.04rem + 0.38vw), 1.38rem);
  line-height:clamp(1.50rem, calc(1.39rem + 0.48vw), 1.81rem) ;
  margin-top: clamp(1.50rem, calc(1.15rem + 1.54vw), 2.50rem);
  background-color: #d8232a;
  text-decoration: none;
  font-weight: 700;
  font-family: var(--basic-font-family);
  display: grid;
  place-items: center;
  border-radius: 50px;
  color: white;
  z-index: 1;
}

.check-offers-button--red:hover{
  color: white;
}

.developer-wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

.section-top {
  margin-top: 1rem;
}

div.mt-4 {
  overflow: hidden;
}

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  overflow: hidden;
  background-color: #f7f1e7;
  padding-top: clamp(2.63rem, calc(1.80rem + 3.65vw), 5.00rem);
  padding-bottom: clamp(2.25rem, calc(1.73rem + 2.31vw), 3.75rem);
  padding-left: 20px;
  padding-right: 20px;
}

.hero-section__title {
  margin: 0 auto;
  z-index: 1;
}

.hero-section__button {
  width: clamp(16.44rem, calc(21.23rem + -5.48vw), 20rem);
  font-weight: 700;
  font-size: 18px;
  color: white;
  font-family: var(--basic-font-family);
  height: clamp(3.25rem, calc(3.08rem + 0.77vw), 3.75rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8232a;
  border-radius: 50px;
  text-decoration: none;
  margin-top: clamp(1.56rem, calc(1.24rem + 1.44vw), 2.5rem);
  z-index: 1;
}



.hero-section__blob--1 {
  position: absolute;
  width: 340px;
  height: 290px;
  bottom: -20px;
  left: -100px;
}

.hero-section__blob--2 {
  position: absolute;
  width: 315px;
  height: 250px;
  top: -60px;
  right: -70px;
}

.main-banner-section {
  height: var(--main-banner-height);
  overflow: hidden;
}

.main-banner-section__image {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 300px;
  object-fit: cover;
}

.caveat {
  font-family: "Caveat", cursive;
  font-weight: 400;
}

h2 > .caveat {
  font-size: 32px;
}

h1 > .caveat {
  font-size: 42px;
}

.dotted {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1rem;
  gap: 16px;
}

.dotted li {
  list-style-type: disc;
  font-family: var(--basic-font-family);
}

.animations-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f1e7;
  padding: clamp(2.5rem, calc(1.63rem + 3.85vw), 5rem) 20px clamp(1.25rem, calc(0.38rem + 3.85vw), 3.75rem) 20px;
}

.animations-section__box-wrapper {
  display: flex;
  position: relative;
  min-height: 427px;
}

.animations-section__text-content {
  width: 352px;
  padding: clamp(0.94rem, calc(0.48rem + 2.02vw), 2.25rem) clamp(1.25rem, calc(0.82rem + 1.92vw), 2.50rem);
  box-sizing: border-box;
  background-color: #fff;
}

.animations-section__text-content-title {
    margin: 0;
    
}

.default-button{
    display: grid;
    place-items: center;
    max-width: 280px;
    min-width: 240px;
    height: 45px;
    text-decoration: none;
    font-family: var(--basic-font-family);
    color: var(--basic-font-color);
    font-weight: 700;
    border: 2px solid var(--basic-font-color);
    border-radius: 50px;
    margin: 30px 0 0 0;
}

.break-word {
    width: 100%;
    display: block;
  }



.animations-section__image-wrapper {
  width: 638px;
  position: relative;
}

.animations-section__image {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 215px;
  object-fit: cover;
}

/* Services section start  */

.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: clamp(2.5rem, calc(1.63rem + 3.85vw), 5rem) 20px;
}

.services-section__title {
  margin: 0 auto 40px auto;
}

.services-section__title span {
  font-size: 46px;
  line-height: 30px;
}

.services-section__grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
  grid-gap: 20px;
}

.services-section__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  font-family: var(--basic-font-family);
}

/* Services section end  */

.module-section__main-title{
    margin-bottom: 24px;
}


.module-section__mobile-button{
    min-width: 180px;
    width: 100%;
    display: none;
    height: 45px;
    text-decoration: none;
    place-items: center;
    font-family: var(--basic-font-family);
    color: var(--basic-font-color);
    font-weight: 700;
    max-width: 360px;
    background-color: transparent;
    border: 2px solid var(--basic-font-color);
    border-radius: 50px;
}

.countries-and-hotels-section {
  background-color: #f7f1e7;
  padding: 35px 15px;
}
.countries-and-hotels-section__main-title,
.countries-and-hotels-section__header,
.countries-and-hotels-section__content,
.articles-section__wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.articles-section__header,
.countries-and-hotels-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.articles-section__title,
.countries-and-hotels-section__title {
  margin-right: auto;
}

.countries-and-hotels-section__content {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-gap: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 20px 0;
  cursor: grab;
}

.countries-and-hotels-section__content::-webkit-scrollbar {
  width: 300px;
  height: 3px;
}

.countries-and-hotels-section__content::-webkit-scrollbar-track {
  background-color: #d1d2d5;
  border-radius: 1px;
}

.countries-and-hotels-section__content::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 1px;
}

.countires-and-hotels-section__box {
  display: block;
  position: relative;
  height: 290px;
  border-radius: 4px;
  cursor: grab;
  text-decoration: none;
}

.countires-and-hotels-section__thumbnail {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.countires-and-hotels-section__thumbnail-caption {
  font-size: 20px;
  display: block;
  width: 100%;
  height: 20%;
  padding: 10px;
  background-color: #fff;
  font-weight: 800;
  text-decoration: none !important;
}

.countires-and-hotels-section__button {
  display: none;
  background-color: transparent;
  width: 100%;
  margin-top: 25px;
}

.articles-section {
  padding: 35px 15px;
}

.articles-section__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 20px;
}

.articles-section__box {
  display: block;
  position: relative;
  height: 250px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.articles-section__thumbnail {
  display: block;
  width: 100%;
  height: 65%;
  object-fit: cover;
}

.articles-section__header {
  margin-bottom: 20px;
}

.articles-section__thumbnail-caption {
  font-size: 16px;
  display: block;
  width: 100%;
  height: 35%;
  padding: 10px;
  background-color: #fff;
  font-weight: 600;
  text-decoration: none !important;
}

.grey {
  font-size: 14px;
  color: #2b2b33;
  font-weight: lighter;
}

.countries-and-hotels-section__content--trip {
  display: grid;
  grid-template-columns: repeat(6, 240px);
}

.countires-and-hotels-section__box--trip {
  border-radius: 4px;
  border: 1px solid #d1d2d5;
}

.countires-and-hotels-section__box--trip
  > .countires-and-hotels-section__thumbnail {
  height: 70%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.countires-and-hotels-section__box--trip
  > .countires-and-hotels-section__thumbnail-caption {
  height: 30%;
  font-size: 16px;
  font-weight: 600;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.countries-and-hotels-section__header--trip {
  align-items: flex-end;
}

.countries-and-hotels-section__header--trip
  > .countries-and-hotels-section__link {
  margin-bottom: 20px;
}

.mobile-hide {
  font-weight: 600;
}

.carousel1 {
  background-color: #f7f1e7 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}


.carousel1--last{
    padding-bottom: 0!important;
}

@media(min-width:1000px){
  .carousel1--last{
    padding-bottom: 100px!important;
}
}

.carousel1 .mb-3 {
  display: none !important;
}

.container div.mt-4{
margin-top: 0 !important;
}

.carousel1 div.p-3 {
  background-color: #fff !important;
  padding-right: 0 !important;
  height: 86px !important;
  display: flex;
  align-items: center;
}

.carousel1 > * {
  max-width: 970px !important;
  margin: 0 auto !important;
}

.recommended-offers-carousel{
  padding-bottom: 0;
}

.module-title-wrapper {
  padding: 40px 1rem 1rem 1rem;
  background-color: #f7f1e7;
}

.--short-flight{
    padding-top: 24px;
}

.--abroad-trips{
    padding-top: 24px;
}

.--families-kids{
  padding-bottom: 0 !important;
}


@media (max-width: 500px) {
  .d-ib {
    display: inline-block;
  }

  .d-b {
    display: block;
  }
}


@media(max-width:1000px){
  .mobile-d-none{
  display: none;
  }
  }
  



.module-title-wrapper--short-flight{
    padding-top: clamp(1.50rem, calc(0.94rem + 2.50vw), 3.13rem);
    padding-bottom: clamp(2.50rem, calc(2.07rem + 1.92vw), 3.75rem);
}

.module-title-wrapper--abroad-trips{
    padding-top: clamp(2.50rem, calc(2.07rem + 1.92vw), 3.75rem);
    padding-bottom: 60px;
}

.module-title-wrapper--offers {
    padding: 3rem 1rem 0 1rem;
    background-color: #f7f1e7;
  } 

.module-title-link {
  font-weight: 700;
}

.holidays-kids__wrapper{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.holidays-kids__wrapper > .container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.module-title {
  max-width: 970px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.module-title--offers {
    max-width: 970px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .module-title--offers .section-title-md{
    margin-bottom: 0;
  }

.module-mobile-button {
  display: none;
  background-color: transparent;
  width: 100%;
}



.p-none .module-title {
  padding: 0;
}

@media screen and (max-width: 1000px) {
  .animations-section__box-wrapper {
    flex-direction: column-reverse;
    width: auto;
  }

  .animations-section__image-wrapper {
    width: 100%;
  }

  .animations-section__text-content {
    width: 100%;
  }

  .module-section__mobile-button{
    display: grid;
}
.module-title-link {
    display: none;
  }
  .module-mobile-button-wrapper {
    background-color: #f7f1e7;
    padding: 30px;
    display: grid;
  place-items: center;
  }
}

@media screen and (max-width: 500px) {

    .fancy-title-xs {
        display: block;
    }
 

  .hero-section__blob--1 {
    width: 340px;
    height: 128px;
    bottom: -48px;
    left: -123px;
  }

  .hero-section__blob--2 {
    width: 217px;
    height: 157px;
    top: -78px;
    right: -70px;
  }




  .services-section__title{
    margin-left: 1rem;
  }

  .module-mobile-button {
    display: flex;
  }

  


  /* services section start  */

  .services-section__grid {
    grid-gap: 25px;
    margin: 0;

  }

  .services-section__box {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    gap: 20px;
  }

  /* services section end  */

  .articles-section__box {
    display: flex;
    height: auto;
  }

  .articles-section__thumbnail {
    width: 125px;
    height: 125px;
  }

  .mobile-hide,
  .countries-and-hotels-section__link {
    display: none;
  }

  .countires-and-hotels-section__button {
    display: inline-flex;
  }

  .main-banner-section__image {
    object-position: 70%;
  }

  .break-word {
    width: auto;
    display: inline;
  }
}


@media(min-width: 1000px){
    .container{
        max-width: 1180px !important;
        overflow: hidden;
    }

    .--short-flight{
      padding-top: 60px;
    }
}